<!--ADMIN NAV BAR-->
<app-admin-nav-bar></app-admin-nav-bar>
<!--ADMIN NAV BAR-->


<section class="learning-resource">

    <a class="navbar-brand" style="color: black;" href="#">Adoption Posts</a>

     <!-- TABLE 1-->
     <table class="get-all">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">haja</th>
            <th scope="col" >haja</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">ID</th>
            <td>Title</td>
            <td>des</td>
            <td>haja</td>
            <td>haja okhra</td>
            <td>
             
              <button type="button"  class="btn btn-outline-danger" >Delete</button> 
            </td> 
          </tr>
      
        </tbody>
      </table>

      <!-- TABLE 1-->

      
    <a class="navbar-brand" style="color: black;" href="#">Adoption Applications</a>

           <!-- TABLE 2-->
     <table class="get-all">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">haja</th>
            <th scope="col" >haja</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th scope="row">ID</th>
            <td>Title</td>
            <td>des</td>
            <td>haja</td>
            <td>haja okhra</td>
            <td>
             
              <button type="button"  class="btn btn-outline-danger" >Delete</button> 
            </td> 
          </tr>
      
        </tbody>
      </table>

      <!-- TABLE 2-->



      <!-- Charts  -->

<section class="chart-section">
    <h2 class="chart-section__title">Chart mteek</h2>
    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>
  </section>

  <!-- Charts -->
    </section>
