<!--ADMIN NAV BAR-->
<app-admin-nav-bar></app-admin-nav-bar>
<!--ADMIN NAV BAR-->

  <!-- Add-->
  <section class="campaigns">
  <section class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: black;" href="#">Add campaigns</a>
      <button class="btn btn-outline-success" style="margin-right: 1300px;" data-bs-toggle="modal" (click)="openModal()" data-bs-target="#exampleModal">Add</button>
      <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
      
      
    </div>
  
  
    </section>
  
    <!-- Open add modal-->
  
      <!-- add user Modal -->
      <div class="modal fade" id="addCompaign"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Campaign </h5>
           
            </div>
            <div class="modal-body"  >
            
                <form  [formGroup]="compaignDetail">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Campaign Name</label>
                        <input type="text" formControlName="title_compaign" class="form-control" id="title_compaign" aria-describedby="">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Description</label>
                      <input type="text" formControlName="desc_compaign" class="form-control" id="desc_compaign" aria-describedby="">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Target Amount</label>
                      <input type="number" formControlName="target_amount_compaign" class="form-control" id="target_amount_compaign" aria-describedby="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label"> End Date</label>
                        <input type="date" formControlName="end_date_compaign" class="form-control" id="end_date_compaign" aria-describedby="">
                      </div>

                  </form>
  
            </div>
            <div class="modal-footer">
              <button type="button" (click)="addCompaign()" class="btn btn-outline-success" >Add</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" >Close</button>
           
            </div>
        </div>
        </div>
    </div>
  
     <!-- Open add modal-->
  
  
  
  
  
       <!-- Open edit modal-->
  
      <div class="modal fade" id="editCompaign"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Campaign</h5>
           
            </div>
            <div class="modal-body" >
            
                <form  [formGroup]="compaignDetail">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">ID</label>
                    <input type="id" formControlName="id_compaign" class="form-control" id="id_compaign" aria-describedby="emailHelp" readonly="readonly">
                  </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Campaign Name</label>
                        <input type="text" formControlName="title_compaign" class="form-control" id="title_compaign" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Description</label>
                      <input type="email" formControlName="desc_compaign" class="form-control" id="desc_compaign" aria-describedby="">
                    </div>
                    <div  class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Target Amount</label>
                      <input type="number" formControlName="target_amount_compaign" class="form-control" id="target_amount_compaign" aria-describedby="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">End Date</label>
                        <input type="date" formControlName="end_date_compaign" class="form-control" id="end_date_compaign" aria-describedby="">
                    </div>
                  </form>
  
            </div>
            <div class="modal-footer">
              <button type="button"  (click)="updateCompaign()" class="btn btn-outline-info" >Edit</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" >Close</button>
           
            </div>
        </div>
        </div>
    </div>
  
     <!-- Open edit modal-->
     

     <!-- Open Predict modal-->
  
     <div class="modal fade" id="predictReach" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Potential for reaching objective</h5>
            <a class="close" href="admin-crowd-funding">&times;</a>
          </div>
          <div class="modal-body">
            <h3>The projected success rate of this campaign to achieve its target is</h3>
            <div class="content">
              <h2 >
              {{consoleValue}} % </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  
     <!-- Open Predict modal-->

      <!-- Open Predict modal-->
  
      <div class="modal fade" id="compaignStats" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Different Statistics </h5>
              <a class="close" href="admin-crowd-funding">&times;</a>
            </div>
            <div class="modal-body">
              <div class="content">
                <h4 >Total Amount Donated :<h5>{{totalDonations}}$</h5> </h4>
                <h4>Number of Donations:<h5>{{numberOfDonations}} </h5> </h4>
                <h4> Number of Donors: <h5>{{numberOfDonors}}</h5></h4>
                <h4> Average Donation Amount:<h5> {{avgDonation}}$</h5></h4>
                <h4> Percent Complete: <h5> {{percentComplete}}%</h5></h4>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    
       <!-- Open Predict modal-->
  
  
  
     <!-- GET ALL COMPAIGNS-->
     <table class="get-all">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Campaign Name</th>
          <th scope="col">Description</th>
          <th scope="col">Target Amount</th>
          <th scope="col" >End Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compaign of compaignList">
          <th scope="row">{{compaign.id_compaign}}</th>
          <td>{{compaign.title_compaign}}</td>
          <td>{{compaign.desc_compaign}}</td>
          <td>{{compaign.target_amount_compaign}}</td>
          <td>{{compaign.end_date_compaign}}</td>
          <td>
            <button (click)="openModalEdit()" (click)="editCompaign(compaign)"  class="btn btn-outline-info"  >  Edit  </button>
            <button type="button" (click)="openModalStats(compaign)" class="btn btn-outline-info">Stats</button><br>
            <button type="button" (click)="openModalPredict(compaign)"   class="btn btn-outline-success">Success Rate</button>
            <button type="button" (click)="deleteCompaign(compaign)" class="btn btn-outline-danger" >Delete</button> 
          </td> 
        </tr>
    
      </tbody>
    </table>
  
  </section>
  
  
  
  
  
  
  